<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Etiqueta</title>
</head>
    <body>
        <article class="form">
            <h2>
                Editar Etiqueta
            </h2>
                <form [formGroup]="formEtiqueta" 
                        (ngSubmit)="crearEtiqueta()">
                    <div>  
                        <label for="idEtiqueta">
                            Etiqueta
                        </label>
                        <input list="etiquetas"
                            id="idEtiqueta" 
                            formControlName="idEtiqueta"
                            required>
                            <datalist id="etiquetas"> 
                                <option value="Etiqueta 1"> 
                                <option value="Etiqueta 2"> 
                                <option value="Etiqueta 3">
                            </datalist>
                    </div>
                    <div>
                        <label for="filasEtiqueta">
                            Número de Filas
                        </label>
                        <input list="filas"  
                            id="filasEtiqueta" 
                            formControlName="filasEtiqueta"
                            required>
                            <datalist id="filas"> 
                                <option value="3"> 
                                <option value="7"> 
                                <option value="17">
                            </datalist>
                    </div>
                    <div>
                        <label for="columnasEtiqueta">
                            Número de Columnas
                        </label>
                        <input list="columnas"  
                            id="columnasEtiqueta" 
                            formControlName="columnasEtiqueta"
                            required>
                            <datalist id="columnas"> 
                                <option value="1"> 
                                <option value="2"> 
                                <option value="3"> 
                                <option value="4"> 
                                <option value="5"> 
                                <option value="6"> 
                                <option value="7"> 
                                <option value="8"> 
                                <option value="9"> 
                            </datalist>                    
                    </div>
                    <div> 
                        <label for="idFormato">
                            Formato
                        </label>
                        <input list="formatos"
                            id="idFormato" 
                            formControlName="idFormato">
                            <datalist id="formatos"> 
                                <option value="Codigo de Barras"> 
                                <option value="Etiqueta de Envio">
                            </datalist>
                    </div>
                        <button type="reset"
                                class="reset">
                            Borrar
                        </button>
                        <button type="submit"
                                class="submit">
                            Guardar
                        </button>
                    </div>
                </form>
        </article>
    </body>
</html>