* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    
    
    body {
        margin-right: 10px;
        border-spacing: 10px;
        border-radius: 2px;
        background-color: skyblue;
        font-family: 'Roboto', sans-serif;
    /* background-image: url('../img/fondoaws.jpg'); */
    }
    
    h1 {
        text-align: center;
    }
    
    .titulos {
        display:  center;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        color: #01575a ;
        text-size-adjust: calc(100vw - 10px);
        align-items: center;
        margin: 1em;
        }
    
    .container {
        margin: 20px;
        border: 5px solid #008489;
        border-radius: 60px;
        width: calc(100vw - 60px);
        height: calc(100vh - 60px);   
        display: inline-flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: row;   
        flex-wrap: wrap;
    }    
    
    button {
        background-color: #008489;
        color: white;
        border: 1px solid #008489;
        font-size: 1.2em;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        transition: all 400ms ease-in-out;
    }
    
    
    button:hover {
        background-color: white;
        color: #008489;
        cursor: pointer;
    }
    
    button[disabled] {
        background-color: rgba(0, 132, 137, 0.3);
        border: 1px solid rgba(0, 132, 137, 0.3);
        color: white;
        cursor: not-allowed;
    }
    
    