<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <article>
        <section>
            <h1 class="title" routerLink="" >Bienvenido a Muela Manufacturas S.A.</h1>
        </section>
        <aside class="menu">
            <button class="buttom" 
                    routerLink="productos/listar-producto"> 
                            Productos
            </button>
            <button class="buttom" 
                    routerLink="empresas/listar-empresa">
                        Empresas
            </button>
            <button class="buttom" 
                    routerLink="etiquetas/listar-etiqueta">
                        Etiquetas
            </button>
            <button class="buttom" 
                    routerLink="direcciones/listar-direccion">
                        Direcciones
            </button>
            <button class="buttom" 
                routerLink="etiquetas/listar-etiqueta">
                    Códigos
            </button>
            <button class="buttom" 
                routerLink="etiquetas/listar-etiqueta">
                    Etiquetas
            </button>
            <button class="buttom" 
                routerLink="etiquetas/formato-etiqueta">
                    Formato de Etiquetas
            </button>     
        </aside>
    </article>
</body>
</html>