* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    
    
    body {
        margin-right: 10px;
        border-spacing: 10px;
        border-radius: 2px;
        font-family: 'Roboto', sans-serif;
    /* background-image: url('../img/fondoaws.jpg'); */
    }
    
    h1 {
        margin: 20px;
        padding: 20px;
        border: 5px solid #008489;
        border-radius: 60px;
        width: calc(100vw - 60px);
        height: 3em;   
        font-size: xx-large;
        color:white;
        align-items: center;
        background-color: #008489;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
    }
        
    .menu {
        margin: 20px;
        padding: 20px;
        border-radius: 60px;
        max-width: 23em;
        max-height: fit-content;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
           
    }    
    
    button {
        margin: 3px;
        border: 5px solid #008489;
        background-color: #008489;
        font-weight: bold;
        color:white;
        border: 1px solid #008489;
        font-size: 1.5em;
        padding: 0.5em 1em;
        border-radius: 1em;
        transition: all 400ms ease-in-out;
        flex-direction: column;
    }
    
    
    button:hover {
        background-color: white;
        color: #008489;
        cursor: pointer;
    }
    
    button[disabled] {
        background-color: rgba(0, 132, 137, 0.3);
        border: 1px solid rgba(0, 132, 137, 0.3);
        color: white;
        cursor: not-allowed;
    }
    
    